.button {
    @extend .ph3, .pv3;
    position: relative;
    display: inline-block;
    outline: 0;
    border: 0;
    border-radius: $borderRadius.xlarge;
    background-color: $color.white;
    color: $textColor.heading;
    font-weight: $fontWeight.bold;
    font-size: $fontSize.body;
    line-height: 1;
    transition: box-shadow $durationS ease, transform $durationS ease;
    box-shadow: 0px 6px 12px 0px rgba(71, 71, 71, 0.1);
    transform: translateY(0);
    text-align: center;
    flex-shrink: 0;

    &.transparent {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    &:hover {
        background-color: $color.snow;
        color: $textColor.heading;
        box-shadow: 0px 6px 12px 0px rgba(71, 71, 71, 0.14);
        transform: translateY(-2px);
    }

    &:active {
        background-color: $color.dim;
        color: $textColor.heading;
        transform: translateY(0);
    }

    for size in $sizeList {
        &.{size} {
            font-size: $variantFontSize[size];
        }
    }

    for color in $listColors {
        &.{color} {
            background-color: $color[color];
            color: $color.white;

            &:hover {
                color: #fff;
            }

            &:active {
                color: #fff;
            }
        }
    }

    &.green {
        color: $textColor.heading;

        &:hover {
            color: $textColor.heading;
        }
    }

    &.transparent.base {
        background-color: transparent;
        border-color: transparent;
        color: $color.base;

        &:hover {
            background-color: $color.base;
            color: $color.white;
        }

        &:active {
            background-color: darken($color.base, 8%);
            color: $color.white;
        }
    }

    +disabled() {
        color: $color.body !important;
        background-color: $color.snow;
        border-color: @background-color;
    }
}
