$fontFamily = {
    body: unquote('"Karla", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'),
    header: unquote('"Karla", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'),
    code: 'Fira Mono'
};
$fontSize = {
    h1: 6rem,
    h2: 3.2rem,
    h3: 2.4rem,
    h4: 2rem,
    h5: 1.6rem,
    body: 1.4rem,
    sub: 1.3rem,
    small: 1.2rem
};
$lineHeight = {
    h1: 8.6rem,
    h2: 5.6rem,
    h3: 3.6rem,
    h4: 2.8rem,
    h5: 2.4rem,
    body: 1.44
};
$letterSpacing = {
    h1: -0.8px,
    h2: -0.8px,
    h3: -0.8px,
    h4: -0.8px,
    h5: -0.4px,
    body: 0
};
$variantFontSize = {
    tiny: 1rem,
    small: 1.2rem,
    medium: 1.8rem,
    large: 2rem
};
$fontWeight = {
    book: 400,
    semiBold: 500,
    bold: 600,
    black: 800
};
